<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head><title>Forum</title>
    <body>
        <form action="/logout/" method="post">
            <input type="submit" value="logout">
        </form>
        {% for p in posts %}
            <b>{{p.userid}}</b> wrote at <b>{{p.time}}</b>:
            <p>{{p.text}}</p>
            <form name="delete" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="del_id" value={{p.id}}>
                <input type="hidden" name="todo" value="del">
                <input type="submit" value="delete">
            </form>
            <hr>
        {% empty %}
            <h4>Nobody has written anything yet!</h4>
        {% endfor %}
        
        <form name="post" action="" method="post"> 
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="todo" value="add">
            <input type="submit" value="post">
        </form><br>
    </body>
</html>